.selectClass {
  padding: 10px;
  border-radius: 10px;
  outline: 0;
}

.head {
  color: #2b6777;
  margin-top: 0px;
}

.dark-theme .head {
  color: white;
}

.dark-theme .spreadStyle {
  color: #4a5cff;
  font-size: 20px;
}
