.rotateanimation {
  animation: rotate 5s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}

.heading {
  color: #2b6777;
}

.dark-theme .heading {
  color: white;
}

.cardBodyColor {
  background-color: none;
}

.dark-theme .cardBodyColor {
  background-color: #d6ddeb;
}
